/* Общие стили */
body {
    background-color: rgb(240, 240, 240); /* Задает единый светло-серый цвет фона для всего сайта */
}

/* Стили для меню сайта */
.nav-menu ul {
    list-style-type: none; /* Убирает маркеры списка для улучшения внешнего вида навигационного меню */
    margin: 0; /* Сбрасывает внешние отступы списка для точной настройки расположения меню */
    padding: 0; /* Сбрасывает внутренние отступы списка для точной настройки расположения меню */
}

.nav-menu a {
    color: #333; /* Устанавливает цвет текста ссылок в меню */
    font-size: 16px; /* Задает размер текста ссылок */
    text-decoration: none; /* Убирает подчеркивание текста ссылок для чистого вида */
    font-weight: bold; /* Делает текст жирным для лучшей видимости */
    padding: 10px; /* Добавляет внутренние отступы вокруг текста для удобства нажатия */
    display: inline-block; /* Позволяет применять отступы к ссылкам */
}

    .nav-menu a:hover {
        color: #017cff; /* Меняет цвет текста ссылок при наведении для визуальной обратной связи */
        background-color: #eef; /* Меняет цвет фона ссылок при наведении для визуальной обратной связи */
    }

/* Стили для основного содержимого и заголовка */
.header {
    text-align: center; /* Выравнивает содержимое шапки по центру страницы */
}

.header-title {
    margin-bottom: 0.5em; /* Устанавливает отступ снизу для заголовка, создавая пространство между заголовком и содержимым */
}

/* Стилизация блока товара */
.product-item {
    background: #f9f9f9; /* Задает светлый фон для блока, выделяя его на общем фоне страницы */
    border: 1px solid #ddd; /* Окружает блок тонкой границей для визуального отделения */
    padding: 15px; /* Добавляет пространство вокруг содержимого блока */
    margin-bottom: 20px; /* Создает отступ снизу блока для разделения с последующим контентом */
}

/* Заголовки товаров */
.product-title {
    font-size: 18px; /* Увеличивает размер текста для заголовков товаров для привлечения внимания */
    color: #017cff; /* Использует яркий синий цвет для привлечения внимания к названиям товаров */
    margin-bottom: 8px; /* Добавляет отступ снизу заголовка для визуального разделения от описания */
}

/* Стили разделов и товаров */
.category {
    background-color: #fff; /* Применяет белый фон к категориям товаров для контраста с основным фоном страницы */
    margin: 20px auto; /* Центрирует категории на странице с вертикальными отступами */
    padding: 20px; /* Добавляет пространство внутри категорий для размещения содержимого */
    width: 90%; /* Ограничивает ширину категорий для улучшения читаемости на больших экранах */
    max-width: 1000px; /* Задает максимальную ширину категорий для сохранения их формы на очень широких экранах */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавляет тень вокруг категорий для создания эффекта "всплытия" */
}

.category-title {
    color: #017cff; /* Использует яркий синий цвет для заголовков категорий, делая их заметными */
    margin-bottom: 15px; /* Создает визуальное пространство между заголовком категории и списком товаров */
}

.product {
    border-bottom: 1px solid #eaeaea; /* Добавляет горизонтальную линию под каждым товаром для разделения их друг от друга */
    padding-bottom: 15px; /* Добавляет пространство между содержимым товара и границей */
    margin-bottom: 15px; /* Устанавливает пространство между последовательными товарами для визуального разделения */
}

    .product:last-child {
        border-bottom: none; /* Убирает границу у последнего товара в списке, предотвращая лишнюю линию */
    }

.product-title {
    color: #333; /* Устанавливает темно-серый цвет для названий товаров, обеспечивая читаемость */
    margin: 10px 0; /* Создает отступы вокруг названия товара для визуального разделения текста */
}

.product-specs {
    list-style-type: square; /* Изменяет стандартные маркеры списка на квадратные для улучшения визуального восприятия */
    margin: 0; /* Убирает стандартные внешние отступы списка */
    padding-left: 20px; /* Добавляет отступ слева от маркеров, отделяя их от текста для улучшения читаемости */
}

.product-spec {
    margin-bottom: 5px; /* Устанавливает отступы между элементами списка, разделяя характеристики товара */
}

/* Стили подвала (футера) */
.footer {
    background-color: #333; /* Задает темный фон для футера, отделяя его от основного содержимого страницы */
    color: #fff; /* Устанавливает белый цвет текста в футере для контраста и читаемости */
    text-align: center; /* Выравнивает текст в футере по центру для удобства восприятия */
    padding: 10px 0; /* Добавляет вертикальные отступы внутри футера для визуального пространства вокруг текста */
    position: relative; /* Задает футеру относительное позиционирование для возможности дополнительной настройки положения */
    clear: both; /* Гарантирует, что футер не перекрывается с элементами, расположенными с использованием свойства float */
}

.logo-container {
    display: inline-block; /* Позволяет контейнеру с логотипом вести себя как блочный элемент, сохраняя возможность задавать отступы */
    margin: 10px 0; /* Добавляет вертикальные отступы вокруг контейнера с логотипом для визуального разделения его от других элементов */
}

.logo {
    width: 200px; /* Ограничивает ширину изображения логотипа, сохраняя его пропорции */
    height: auto; /* Автоматически регулирует высоту изображения, сохраняя пропорции логотипа */
}

.catalog {
    display: flex; /* Применяет flexbox для упорядочивания элементов каталога горизонтально */
    justify-content: space-around; /* Распределяет элементы каталога с равными отступами вокруг них */
    padding: 40px; /* Добавляет внутренние отступы вокруг всего каталога */
}

.image-container {
    margin-bottom: 30px; /* Устанавливает отступ снизу для контейнера изображения, отделяя его от другого контента */
}

.catalog-heading {
    color: #333; /* Задает темный цвет текста для заголовков в каталоге */
    margin-bottom: 10px; /* Добавляет небольшой отступ снизу заголовка, создавая пространство до следующего элемента */
}

.catalog-link {
    color: #017cff; /* Устанавливает ярко-синий цвет для ссылок, делая их заметными */
    text-decoration: none; /* Убирает подчеркивание ссылок для чистого вида */
}

/* Стили для заголовков */
.description-heading {
    color: #000; /* Устанавливает черный цвет для заголовков описания */
    font-size: 18px; /* Задает размер шрифта для заголовков */
    font-weight: 400; /* Устанавливает нормальную жирность шрифта для заголовков */
    background-color: rgb(245, 245, 245); /* Задает светло-серый фон для области заголовка */
}

/* Стили для краткого описания товара */
.description-text {
    color: rgb(100, 100, 100); /* Задает серый цвет текста для краткого описания */
    font-size: 14px; /* Устанавливает размер шрифта для краткого описания */
    font-style: italic; /* Применяет курсивное начертание для краткого описания */
    line-height: 16px; /* Устанавливает высоту строки для краткого описания */
}

/* Стили для подробного описания товара */
.description-text {
    color: rgb(50, 50, 50); /* Задает более темный серый цвет текста для подробного описания */
    font-size: 16px; /* Устанавливает больший размер шрифта для подробного описания */
    font-weight: 400; /* Сохраняет нормальную жирность шрифта для подробного описания */
    line-height: 24px; /* Увеличивает высоту строки для улучшения читаемости подробного описания */
    text-align: left; /* Выравнивает текст подробного описания по левому краю */
}

.product-specs {
    list-style-type: none; /* Убирает маркеры списка */
    padding-left: 70px; /* Увеличивает отступ слева, чтобы изображение лучше помещалось */
    background-image: url('лого1.jpg'); /* Устанавливает изображение в качестве фона */
    background-size: 40px; /* Уменьшает размер изображения */
    background-repeat: repeat-y; /* Заставляет изображение повторяться по вертикали */
}


body {
    margin-left: 20px; /* Добавляет небольшой отступ слева для всего тела документа, отделяя содержимое от края экрана */
}
